@import '../../scss/variables.scss';
.login, .register {
    margin-bottom: 15px;
    .section_left {
        padding: 3rem;
        h1 {
            font-weight: 600;
            font-size: 1.75rem;
        }
        h2 {
            font-size: 17px;
            margin-top: 15px;
            font-weight: 400;
        }
    }
    .section_right {
        padding: 1rem;
    }
    .button {
        width: 100%;
    }
}