@import '../../scss/variables.scss';
.productlist {
    margin-top: 22px;
    .navbar {
        padding: 0px;
        align-items: flex-start;
        .navbar-toggler {
            width: 100%;
            border-radius: 0;
            padding: .8rem 1.5rem;
            text-align: left;
            box-shadow: none; 
        }
        .navbar-collapse {
            height: 100%;
            align-items: flex-start;
        }
        ul {
            background: $color-grey-1;
            padding-left: .8rem;
            width: 100%;
            height: 100%;
        }
        li {
            padding: 0.750rem 1rem;
            border-bottom: 1px solid $color-grey-2;
            color: $color-grey-6;
            cursor: pointer;
            font-weight: 400;
        }
        .arrow {
            float: right;
        }
    }

    &-section {
        .product-image {
            width: 100%;
        }

        .product-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                background-color: $color-grey-2;
                padding: .3rem;
                color: $color-black-1;
                font-weight: 600;
            }
            .product-name {
                font-weight: 700;
            }
        }

        .buy-now-button {
            padding: 0.4rem 0.4rem;
            width: 100%;
            span {
                font-size: 1rem;
            }
        }

        // .product-sepration {
        //     border-bottom: 1px dashed $color-grey-6;
        // }    
    }
    @media screen and (min-width: $break-small) { // for tablet and above
        margin-top: -7px;
        .navbar-expand-sm {
            .navbar-nav {
                flex-direction: column;
            }
        }
    }

    @media screen and (min-width: $break-medium) { // for Desktop
        .product-sepration {
            flex-direction: column ;
            padding: 0px;
            :first-child {
                margin-bottom: .25rem;
            }
        }

        .buy-now-button {
            width: 50%;
        }
    }
}


