@import '../../scss/variables.scss';

.homesection {
    .carousel-inner {
        img {
            width: 100%;
        }
    }

    .carousel-indicators {
        margin-bottom: 0.5rem;
        li {
            width: 5px;
            height: 5px;
            margin: 0px .5rem;
            background-color: $color-black-2;
            border-radius: 50%;
        }
    }

    .carousel-control {
        width: auto;
        opacity: 0.8;
        text-transform: uppercase;
        &-prev, &-next {
            width: inherit;
            opacity: 0.8;
            &-icon {
                background-image: none;
                background-color: $color-grey-5; 
                padding: 0.5rem 1rem;
                width: inherit;
                height: inherit;
                cursor: pointer;
            }    
        }
    }

    .homesection_boader-bottom {
        height: 10px;
        background: radial-gradient(at 50% 0, $color-grey-4, transparent 55%);
        background-size: 100% 15px;
        background-repeat: no-repeat;
    }

    .homesection_category {
        text-align: center;
        padding: .7rem 2px;
        img {
            width: 80%;
        }
        &.reverse {
            flex-direction: row-reverse !important;
        }
        .cat-name {
            font-weight: 700;
        }
        p {
            font-size: .8rem;
        }
        .button {
            padding: 0.4rem 1rem;
            font-size: .8rem;
        }
    }
}

@media screen and (min-width: $break-small) { // for mobile screen
    .homesection_category {
        img {
            width: 50% !important;
        }
    }
}