@import '../../scss/variables.scss';

header {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 7px;
    .row {
        padding: 0px;
    }
    .header_logo {
        width: 120px;
    }
    .toggle-icon {
        width: 35px;
        height: 2px;
        background-color: $color-white-1;
        margin: 6px 0;
    }
    .smallscreen-dropdown {
        padding: 0.4rem 1rem;
        box-shadow: none;
        cursor: pointer;
    }
}

.header {
    &_mainmenu-wrapper {
        li {
            color: $color-grey-2;
            font-size: 15px;
            font-weight: 700;
        }
    }

    &_authmenu {
        padding-right: 0px !important;
        li {
            .auth-link {
                color: $color-black-1;
                font-size: 12px;
                padding: 2px 0px 0px 6px;
            }
        }
        &-cartbutton {
            border: none;
            font-size: 13px;
            color: $color-black-2;
            font-weight: 600;
            padding: 10px 27px;
        }
    }

    &_logo-wrapper {
        padding: 0.5rem 0px !important;
    }
}

@media screen and (max-width: $break-small) { // for mobile screen
    .header {
        &_mainmenu-wrapper {
            // position: relative;
            // #mainmenu {
            //     position: absolute;
            //     top: 19px;
            // }
        }
        
        &_authmenu {
            ul {
                height: 100%;
                li {
                    height: 100%;
                    button {
                        height: 100%;
                    }
                }
            }
            
        }
    }
}


@media screen and (min-width: $break-large) { // for desktop screen
    header { 
        .row {
            padding: 0px 10% !important;
        }
    }
}