@import '../../scss/variables.scss';

footer {
    background-color: $color-grey-1;
    p {
        margin: 0px;
        padding: 1rem 0px;
        color: $color-black-1;
    }
    @media screen and (min-width: $break-large) { // for desktop screen
        .row {
            padding: 0px 10%;
        }
    }
}