@import './variables.scss';
body {
	font-family: $font-family-dosis;
	color: $color-black-1;
}

.arrow {
    border: solid $color-white-1;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.dashed-border-bottom {
    border-bottom: 1px dashed #7a7a7a;
}

@media screen and (min-width: $break-large) { // for desktop screen
    .row {
        padding: 0px 10%;
    }
}