@import './variables.scss';

.form-radio {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	.form-help {
		position: absolute;
		width: 100%;
		padding-top: 0.25rem;
		margin-top: -1rem;
	}
	label {
		position: relative;
		cursor: pointer;
		padding-left: 2rem;
		text-align: left;
		color: $color-black-3;
		display: block;
	}
	input {
		width: auto;
		opacity: 0.00000001;
		position: absolute;
		left: 0;
	}
}
.form-group {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	.form-help {
		position: absolute;
		width: 100%;
	}
	input {
		height: 1.9rem;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border-width: 0;
		border-color: transparent;
		line-height: 1.9;
		width: 100%;
		color: transparent;
		-webkit-transition: all 0.28s ease;
		transition: all 0.28s ease;
		box-shadow: none;
		border-bottom: 0.0625rem solid #999;
		&:focus {
			color: $color-black-3;
			outline: none;
			border-bottom: 0.125rem solid #2fb9c6;
			~ {
				.control-label {
					font-size: 0.8rem;
					top: -1rem;
					left: 0;
					color: $color-blue-1;
				}
				.bar {
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		&:valid, &:not(:placeholder-shown) {
			color: $color-black-3;
			~ {
				.control-label {
					font-size: 0.8rem;
					color: $color-grey-3;
					top: -1rem;
					left: 0;
				}
			}
		}
	}
	textarea {
		resize: none;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border-width: 0;
		border-color: transparent;
		line-height: 1.9;
		width: 100%;
		color: transparent;
		-webkit-transition: all 0.28s ease;
		transition: all 0.28s ease;
		box-shadow: none;
		&:focus {
			color: $color-black-3;
			outline: none;
			~ {
				.control-label {
					font-size: 0.8rem;
					top: -1rem;
					left: 0;
					color: $color-blue-1;
				}
				.bar {
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		&:valid {
			color: $color-black-3;
			~ {
				.control-label {
					font-size: 0.8rem;
					color: $color-grey-3;
					top: -1rem;
					left: 0;
				}
			}
		}
	}
	select {
		width: 100%;
		font-size: 1rem;
		height: 1.6rem;
		padding: 0.125rem 0.125rem 0.0625rem;
		background: none;
		border: none;
		line-height: 1.6;
		box-shadow: none;
		color: $color-black-3;
		~ {
			.control-label {
				font-size: 0.8rem;
				color: $color-grey-3;
				top: -1rem;
				left: 0;
			}
		}
		&:focus {
			outline: none;
			~ {
				.control-label {
					color: $color-blue-1;
				}
				.bar {
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}
	.control-label {
		position: absolute;
		top: 0.25rem;
		pointer-events: none;
		padding-left: 0.125rem;
		z-index: 1;
		color: $color-grey-4;
		font-size: 1rem;
		font-weight: normal;
		-webkit-transition: all 0.28s ease;
		transition: all 0.28s ease;
	}
	.bar {
		position: relative;
		border-bottom: 0.0625rem solid $color-grey-5;
		display: block;
		&::before {
			content: '';
			height: 0.125rem;
			width: 0;
			left: 50%;
			bottom: -0.0625rem;
			position: absolute;
			background: $color-blue-1;
			-webkit-transition: left 0.28s ease, width 0.28s ease;
			transition: left 0.28s ease, width 0.28s ease;
			z-index: 2;
		}
	}
	input[type="file"] {
		line-height: 1;
		~ {
			.bar {
				display: none;
			}
		}
	}
	input.form-file {
		color: $color-black-3;
		~ {
			.control-label {
				font-size: 0.8rem;
				color: $color-grey-3;
				top: -1rem;
				left: 0;
			}
		}
	}
	input.has-value {
		color: $color-black-3;
		~ {
			.control-label {
				font-size: 0.8rem;
				color: $color-grey-3;
				top: -1rem;
				left: 0;
			}
		}
	}
	textarea.form-file {
		color: $color-black-3;
		~ {
			.control-label {
				font-size: 0.8rem;
				color: $color-grey-3;
				top: -1rem;
				left: 0;
			}
		}
	}
	textarea.has-value {
		color: $color-black-3;
		~ {
			.control-label {
				font-size: 0.8rem;
				color: $color-grey-3;
				top: -1rem;
				left: 0;
			}
		}
	}
}
.form-inline {
	>.form-group {
		display: inline-block;
		margin-bottom: 0;
	}
	>.btn {
		display: inline-block;
		margin-bottom: 0;
	}
}
.form-help {
	margin-top: 0.125rem;
	margin-left: 0.125rem;
	color: $color-grey-4;
	font-size: 0.8rem;
}
.checkbox {
	.form-help {
		position: absolute;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
	}
	label {
		position: relative;
		cursor: pointer;
		padding-left: 2rem;
		text-align: left;
		color: $color-black-3;
		display: block;
		&:hover {
			.helper {
				color: $color-blue-1;
			}
		}
	}
	input {
		width: auto;
		opacity: 0.00000001;
		position: absolute;
		left: 0;
		&:checked {
			~ {
				.helper {
					color: $color-blue-1;
					&::after {
						opacity: 1;
						-webkit-transition: height 0.28s ease;
						transition: height 0.28s ease;
						height: 0.5rem;
					}
					&::before {
						opacity: 1;
						-webkit-transition: height 0.28s ease;
						transition: height 0.28s ease;
						height: 1.2rem;
						-webkit-transition-delay: 0.28s;
						transition-delay: 0.28s;
					}
				}
			}
		}
	}
	margin-top: 3rem;
	margin-bottom: 1rem;
	.helper {
		color: $color-grey-5;
		position: absolute;
		top: 0;
		left: 0;
		width: 1rem;
		height: 1rem;
		z-index: 0;
		border: 0.125rem solid currentColor;
		border-radius: 0.0625rem;
		-webkit-transition: border-color 0.28s ease;
		transition: border-color 0.28s ease;
		&::before {
			position: absolute;
			height: 0;
			width: 0.2rem;
			background-color: $color-blue-1;
			display: block;
			-webkit-transform-origin: left top;
			transform-origin: left top;
			border-radius: 0.25rem;
			content: '';
			-webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
			transition: opacity 0.28s ease, height 0s linear 0.28s;
			opacity: 0;
			top: 0.65rem;
			left: 0.38rem;
			-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
			box-shadow: 0 0 0 0.0625rem $color-white-1;
		}
		&::after {
			position: absolute;
			height: 0;
			width: 0.2rem;
			background-color: $color-blue-1;
			display: block;
			-webkit-transform-origin: left top;
			transform-origin: left top;
			border-radius: 0.25rem;
			content: '';
			-webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
			transition: opacity 0.28s ease, height 0s linear 0.28s;
			opacity: 0;
			top: 0.3rem;
			left: 0;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	+ {
		.checkbox {
			margin-top: 1rem;
		}
	}
}
.radio {
	margin-bottom: 1rem;
	.helper {
		position: absolute;
		top: -0.25rem;
		left: -0.25rem;
		cursor: pointer;
		display: block;
		font-size: 1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: $color-grey-5;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			margin: 0.25rem;
			width: 1rem;
			height: 1rem;
			-webkit-transition: -webkit-transform 0.28s ease;
			transition: -webkit-transform 0.28s ease;
			transition: transform 0.28s ease;
			transition: transform 0.28s ease, -webkit-transform 0.28s ease;
			border-radius: 50%;
			border: 0.125rem solid currentColor;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			margin: 0.25rem;
			width: 1rem;
			height: 1rem;
			-webkit-transition: -webkit-transform 0.28s ease;
			transition: -webkit-transform 0.28s ease;
			transition: transform 0.28s ease;
			transition: transform 0.28s ease, -webkit-transform 0.28s ease;
			border-radius: 50%;
			border: 0.125rem solid currentColor;
			-webkit-transform: scale(0);
			transform: scale(0);
			background-color: $color-blue-1;
			border-color: $color-blue-1;
		}
	}
	label {
		&:hover {
			.helper {
				color: $color-blue-1;
			}
		}
	}
	input {
		&:checked {
			~ {
				.helper {
					&::after {
						-webkit-transform: scale(0.5);
						transform: scale(0.5);
					}
					&::before {
						color: $color-blue-1;
					}
				}
			}
		}
	}
	+ {
		.radio {
			margin-top: 1rem;
		}
	}
}
.has-error {
	.legend.legend {
		color: $color-red-1;
	}
	.bar {
		&::before {
			background: $color-red-1;
			left: 0;
			width: 100%;
		}
	}
}
.has-error.form-group {
	.control-label.control-label {
		color: $color-red-1;
	}
	.form-help {
		color: $color-red-1;
	}
	.helper {
		color: $color-red-1;
	}
}
.has-error.checkbox {
	.form-help {
		color: $color-red-1;
	}
	.helper {
		color: $color-red-1;
	}
}
.has-error.radio {
	.form-help {
		color: $color-red-1;
	}
	.helper {
		color: $color-red-1;
	}
}
.has-error.form-radio {
	.form-help {
		color: $color-red-1;
	}
	.helper {
		color: $color-red-1;
	}
}
.button {
	position: relative;
	background: currentColor;
	border: 1px solid currentColor;
	font-size: 1.1rem;
	color: $color-pink;
	// margin: 3rem 0;
	padding: 0.4rem 3rem;
	cursor: pointer;
	-webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
	transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	span {
		color: $color-white-1;
		position: relative;
		z-index: 1;
	}
	&::before {
		content: '';
		position: absolute;
		// background: #071017;
		// border: 50vh solid #1d4567;
		width: 30vh;
		height: 30vh;
		border-radius: 50%;
		display: block;
		top: 50%;
		left: 50%;
		z-index: 0;
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0);
		transform: translate(-50%, -50%) scale(0);
	}
	&:hover {
		color: $color-pink;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	}
	&:active {
		&::before {
			-webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
			transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
			opacity: 0;
		}
	}
	&:focus {
		&::before {
			-webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
			transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
			-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
			opacity: 0;
		}
		outline: none;
	}
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	 color: transparent;
}
 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: transparent;
}
 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: transparent;
}
 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	 color: transparent;
}
 input::placeholder {
	 color: transparent;
}
 textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	 color: transparent;
}
 textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: transparent;
}
 textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: transparent;
}
 textarea:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	 color: transparent;
}
 textarea::placeholder {
	 color: transparent;
}
