$color-pink: #C12958;
$color-grey-1 : #EEEEEE;
$color-grey-2 : #E0E0E0;
$color-grey-3 : gray;
$color-grey-4 : #b3b3b3;
$color-grey-5 : #999; 
$color-grey-6 : #7a7a7a; 


$color-black-1: #000000;
$color-black-2: #242424;
$color-black-3: #333;
$color-blue-1: #2fb9c6;

$color-red-1: #d9534f;

$color-white-1: #fff;

$break-small: 576px;
$break-large: 1200px;
$break-medium: 992px;

$font-family-dosis: Dosis